* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin:1rem;
}

.testWrapper {
  border:1px solid grey;
  display: inline-block;
  border-radius: 3px;
  margin:2.5rem 0;
  input {
    font-size: 2rem;
    text-align: center;
    border: none;
    -webkit-appearance:none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size:1.75rem;
    }
    &:focus {
      outline:none;
    }
  }
  .bdayDay {
    width:2.5rem;
  }
  .bdayMonth {
    width:3rem;
  }
  .bdayYear {
    width:3.8rem;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  span {
    font-size:2rem;
  }
  // shows a dot inside span
  span:after {
    content: '.';
  }
  // hide dot on the last span
  span:nth-last-child(1):after {
    content: '';
  }
}


